
  
  .navbar {
  background-color: #001d4a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  }
  
  .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 60px; /* Height of the navbar */
  }
  
  .navbar li {
  display: inline;
  }
  
  .navbar a {
  text-decoration: none;
  color: #eca400;
  padding: 15px 15px; /* Adjust padding as needed */
  transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
  background-color: rgba(39, 68, 211, 0.3);
  border-radius: 5px;
  }
  
  
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Full viewport height minus navbar height */
    width: 100%;
    margin-top: 60px; /*To prevent content from being hidden behind the navbar */
    background-image: url('compscanback.jpg'); /* Ensure the correct path to your image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the background image */
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
  }
  
  .form-container input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .footer {
  background-color: #001d4a;
  color: #eca400;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  }
  
  .footer a {
  color: #eca400;
  text-decoration: none;
  }
  
  .footer a:hover {
  text-decoration: underline;
  }